apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: krl
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: 147997149245.dkr.ecr.us-east-1.amazonaws.com/krl-api:v0.1.0
          env:
            - name: PORT
              value: "8080"
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  name: postgres-creds
                  key: host
            - name: PGPORT
              valueFrom:
                secretKeyRef:
                  name: postgres-creds
                  key: port
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  name: postgres-creds
                  key: dbname
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: postgres-creds
                  key: username
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-creds
                  key: password
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
